﻿@using PagedList.Mvc;
@model PagedList.IPagedList<CatalogoClientes.Dominio.Entidades.Cliente>

@{
    ViewBag.Title = "Catalogo de Clientes";
}

@foreach (var item in Model)
{
    @Html.Partial("_CatalogoResumo", item);
}

<p class="text-primary">
  Página @Model.PageNumber de @Model.PageCount
</p>

<span class="btn-group pull-right">
  @Html.PagedListPager(Model, pagina => Url.Action("Catalogo", new { pagina }))
</span>