﻿@model CatalogoClientes.Dominio.Entidades.Cliente

@{
  ViewBag.Title = "Create";
}

<div class="clientes panel panel-primary">
  <div class="panel-heading panel-head">Cadastro de Clientes</div>
  <div class="panel-body">
    @using (Html.BeginForm("Create", "Cliente", null, FormMethod.Post, new
    {
      enctype = "multipart/form-data" // Necessário por causa do fileUpload.
    }))
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.Label("Imagem", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          <input type="file" id="Imagem" name="uploadImg" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Criar Cliente" class="btn btn-success" />
        </div>
      </div>
    </div>

    <div>
      @Html.ActionLink("Retornar", "Catalogo")
    </div>
    }
  </div>
</div>

