﻿@model CatalogoClientes.Dominio.Entidades.Cliente

@{
  ViewBag.Title = "Delete";
}

<div class="clientes panel panel-primary">
  <div class="panel-heading panel-head">Cadastro de Clientes</div>
  <div class="panel-body">
    <h3>Deseja deletar esse registro?</h3>
    <div>
      <h4>Cliente</h4>
      <hr />
      <dl class="dl-horizontal">
        @if (Model.Imagem != null)
        {
          <dt>
            Imagem
          </dt>
          <dd>
            <img class="img-thumbnail" src="@Url.Action("ExibirImagem", "Arquivo", new { id=Model.ClienteId })" />
          </dd>
        }
        else
        {
          <dt>
            Imagem
          </dt>
          <dd>
            <img class="thumbnail" src="~/Imagens/no-photo-available-md.png" width="150" height="150" />
          </dd>
        }

        <dt>
          @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
          @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
          @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Endereco)
        </dd>

      </dl>

      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
          <input type="submit" value="Delete" class="btn btn-default" /> |
          @Html.ActionLink("Retornar", "Catalogo")
        </div>
      }
    </div>
  </div>
</div>