﻿@model CatalogoClientes.Dominio.Entidades.Cliente

@{
  ViewBag.Title = "Editar Clientes";
}

<div class="clientes panel panel-primary">
  <div class="panel-heading panel-head">Cadastro de Clientes</div>
  <div class="panel-body">
    @using (Html.BeginForm("Edit", "Cliente", null, FormMethod.Post, new
    {
      enctype = "multipart/form-data" // Necessário por causa do fileUpload.
    }))
    {
      @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <h4>Cliente</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      @Html.HiddenFor(model => model.ClienteId)

      <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
        </div>
      </div>

      @if (Model.Imagem != null)
      {
        <div class="form-group">
          <span class="control-label col-md-2">
            Imagem Atual
          </span>
          <div class="col-md-10">
            <img class="img-thumbnail" src="@Url.Action("ExibirImagem", "Arquivo", new { id = Model.ClienteId })" />
          </div>
        </div>
      }
      else
      {
        <div class="form-group">
          <span class="control-label col-md-2">
            Imagem Atual
          </span>
          <div class="col-md-10">
            <img class="thumbnail" src="~/Imagens/no-photo-available-md.png" width="150" height="150" />
          </div>
        </div>
      }

      <div class="form-group">
        @Html.Label("Nova Imagem", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          <input type="file" id="Imagem" name="uploadImg" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Salvar Alterações" class="btn btn-success" />
        </div>
      </div>
    </div>
    }

    <div>
      @Html.ActionLink("Retornar", "Catalogo", null, new { @class = "btn btn-primary" })
    </div>
  </div>
</div>