﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse">
          <img src="~/Imagens/LogoMacorattiNet.gif" />
        </div>
        <div class="row panel">
            <div id="menu" class="col-xs-3">
                Menu
            </div>
            <div class="col-xs-8">
                @if (TempData["mensagem"] != null)
                {
                    <div class="alert alert-success">@TempData["mensagem"]</div>
                }
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>