﻿
@{
  ViewBag.Title = "Categoria";
}

<h2>Ano</h2>
<select name="ano">
  @for (int i = 0; i <= 5; i++)
  {
    <option>@(DateTime.Now.AddYears(i).Year)</option>
  }
</select>

<h2>Dias da Semana:</h2>
@Html.DropDownList("Dia da Semana", new List<SelectListItem>
{
  new SelectListItem{ Text = "Domingo", Value = "1"},
  new SelectListItem{ Text = "Segunda-Feira", Value = "2"},
  new SelectListItem{ Text = "Terça-Feira", Value = "3"},
  new SelectListItem{ Text = "Quarta-Feira", Value = "4"},
  new SelectListItem{ Text = "Quinta-Feira", Value = "5"},
  new SelectListItem{ Text = "Sexta-Feira", Value = "6", Selected = true},
  new SelectListItem{ Text = "Sábado", Value = "7"}
}, "Selecione o dia da semana")


<h2>Categorias:</h2>
@using (Html.BeginForm())
{
  @Html.DropDownList("CategoriaId", "Selecione uma Categoria")
  <input type="submit" value="Enviar" />
}